/* HeroesComponent's private CSS styles */

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.heroes a {
  position: relative;
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  background-clip: border-box;
  margin: .5rem;
  padding: 0;
  height: 1.8rem;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes li a:hover {
  left: .1em;
}

.heroes button:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes button:hover {
  cursor: pointer;
}

.heroes a:hover {
  background-color: #e6e6e6;
  color: #2c3a41;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.7rem 0.7rem 0 0.3rem;
  background-color: #405061;
  line-height: .8em;
  position: relative;
  left: -1px;
  height: 1.1rem;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;
}

div {
  display: flex;
  align-items: center;
}

label {
  margin-top: -2px;
  margin-right: 10px;
}

button {
  margin-left: 10px;
}

.delete {
  border: none;
  display: inline-block;
}